<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>I'm bored</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
#left, #map, #separation, #detail {
	float: left;
} 
#main-title {
	width: 100%;
	height: 15%;
}
#map, #separation {
	height: 85%
}
#left, #detail {
	height: 100%;
}
#detail {
	overflow: auto;
}
</style>
</head>
<body>
	<div id="left" style="width: 70%;">
		<div id="main-title"><header>T'as plus qu'a choisir un évènement qui t'enjaille!</header></div>
		<div id="map" style="width: 95%;"></div>
		<div id="separation" style="width: 5%;"></div>
	</div>
	<div id="detail" style="width: 30%; display: none">
		<h2 id="title"></h2>
		<img id="image" src="" alt=""/>
		<h3 id="placename"></h3>
		<p id="description"></p>
		<form th:action="@{/events}" th:object="${eventInfo}" method="post">
			<input id="eventuid" type="hidden" th:field="*{eventUid}" />
			<button id="submitBtn" type="submit">Valider</button>
		</form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="eventsScript.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initMap&amp;key=AIzaSyBt74Hr5wZkB7oafjj6fYprlGnRJ4TZd8c"></script>
</body>
</html>

