<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>I'm bored</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
body {
	height: 100%;
	width: 100%; color : white;
	font-family: klavika, arial;
	margin-top: 0px;
	font-size: 20px;
	background-color: rgb(30, 126, 174);
	color: white;
}

#detail, #clients {
	height: 100;
	float: left; overflow : auto;
	color: white;
	font-family: klavika, arial;
	margin-top: 0px;
	font-size: 20px;
	overflow: auto;
}

#image {
	max-width: 92%;
	max-height: auto;
	margin-right: 10px;
}
</style>
</head>
<body>
	<div id="clients" style="width: 70%">
		<h1>Liste des participants</h1>
		<table id="myTable">
		</table>
		<h2>URL to share</h2>
		<a th:href="${url}" th:text="${url}">link</a>
	</div>
	<div id="detail" style="width: 30%">
		<h2 id="title" th:text="${event.title}"></h2>
		<img id="image" th:src="${event.image}" alt="" />
		<h3 id="placename" th:text="${event.placeName}"></h3>
		<p id="description" th:text="${event.description}"></p>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
    	var users = [[${users}]];
		for (var i = 0; i < users.length; i++) {
		    var table = document.getElementById("myTable");
		    var row = table.insertRow(i);

		    var imgCell = row.insertCell(0);
		    var img = document.createElement('img');
		    img.src = users[i].picture;
		    imgCell.appendChild(img);
		    
		    var nameCell = row.insertCell(1);
		    nameCell.innerHTML = users[i].name;
		    
		}
		/*]]>*/ 
	</script>
</body>
</html>